<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="commons/header :: header" />

<body>
    <div th:replace="commons/menu :: menu" />

    <div class="container">

        <div class="row">
            <h3 th:text="#{empleados.titulo}">Empleados</h3>
        </div>

        <div class="row">
            <div class="col-lg-3">
                <a th:href="@{/empleados/create}" class="btn btn-primary btn-sm mb-3" th:text="#{empleados.nuevo.empleado}">Nuevo empleado</a>
            </div>
        </div>

        <div class="row">
            <table class="table table-striped table-hover">
                <caption th:text="#{empleados.listado.titulo}">Lista de empleados</caption>

                <thead>
                    <tr>
                        <th scope="col" th:text="#{codigo}">Código</th>
                        <th scope="col" th:text="#{nombre}">Nombre</th>
                        <th scope="col" th:text="#{apellidos}">Apellidos</th>
                        <th scope="col" th:text="#{dni}">DNI</th>
                        <th scope="col" th:text="#{email}">Email</th>
                        <th scope="col" th:text="#{telefono}">Teléfono</th>
                        <th scope="col" th:text="#{direccion}">Dirección</th>
                        <th scope="col" th:text="#{vip}">VIP</th>
                        <th scope="col"></th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="empleado : ${empleados}">
                        <th th:text="${empleado.codigo}" scope="row">1</th>
                        <td th:text="${empleado.nombre}">Mark</td>
                        <td th:text="${empleado.apellidos}">Mark</td>
                        <td th:text="${empleado.dni}">Mark</td>
                        <td th:text="${empleado.email}">Mark</td>
                        <td th:text="${empleado.telefono}">Mark</td>
                        <td th:text="${empleado.direccion}">Mark</td>
                        <td th:text="${empleado.vip ? 'SI' : 'NO'}">Mark</td>
                        <td>
                            <a class="btn btn-primary" th:href="@{/empleados/edit/}+${empleado.codigo}" href="#" role="button"><i class="bi bi-pencil-square"></i></a>
                            <a class="btn btn-danger" th:href="@{/empleados/delete/}+${empleado.codigo}" href="#" role="button"><i class="bi bi-trash"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>                                             

        <div th:replace="commons/pagination :: pagination" />
                                                                              
    </div>

    <div th:replace="commons/footer :: footer" class="container" />
</body>

</html>