<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="commons/header :: header" />

<body>
    <div th:replace="commons/menu :: menu" />

    <div class="container">
        <main>

            <div class="row g-5">
                <div class="col-8">
                    <h4 class="mb-3" th:text="#{departamento.dato}">Datos Departamento</h4>

                    <form class="needs-validation" method="post" th:action="@{/departamentos/update}" novalidate>
                        <input type="hidden" name="codigo" th:value="${departamento.codigo}">

                        <div class="row g-4">
                            <div class="col-sm-6">
                                <label for="nombre" class="form-label" th:text="#{nombre}">Nombre</label>

                                <input type="text" class="form-control" id="nombre" name="nombre" placeholder=""
                                    th:value="${departamento.nombre}" value="" required>

                                <div class="invalid-feedback">
                                    Nombre requerido.
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <label for="empleados" class="form-label"
                                    th:text="#{empleados.titulo}">Empleados</label>

                                <ul class="list-group">
                                    <li class="list-group-item" th:each="empleado : ${empleados}">
                                            <input class="form-check-input me-1" type="checkbox" value="" id="firstCheckbox" th:checked="${empleado.perteneceDepartamento} ? 'true' : 'false'">
                                            <label class="form-check-label" for="firstCheckbox" th:text="|${empleado.nombre} ${empleado.apellidos}|"></label>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <hr class="my-4">

                        <div class="col-sm-12">
                            <div class="btn-group">
                                <button class="btn btn-primary" type="submit"
                                    th:text="#{boton.actualizar}">Actualizar</button>
                                <a class="btn btn-danger" th:href="@{/departamentos/list}" href="#" role="button"
                                    th:text="#{boton.cancelar}">Cancelar</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </main>
    </div>

    <div th:replace="commons/footer :: footer" class="container"></div>

</body>

</html>