<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="commons/header :: header" />

<body>
    <div th:replace="commons/menu :: menu"></div>

    <div class="container py-4">
        <h1>Cesta</h1>
        <div class="row align-items-md-stretch">
            <div class="col-md-12">
                <p th:text="${pedido.cliente}"></p>

                <ol class="list-group list-group-numbered">
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Subheading</div>
                            Content for list item
                        </div>
                        <span class="badge bg-primary rounded-pill">14</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Subheading</div>
                            Content for list item
                        </div>
                        <span class="badge bg-primary rounded-pill">14</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Subheading</div>
                            Content for list item
                        </div>
                        <span class="badge bg-primary rounded-pill">14</span>
                    </li>
                </ol>

                <div class="ms-2 me-auto">
                    <div class="fw-bold">Total:</div>
                </div>

            </div>
        </div>
    </div>

    <div th:replace="commons/footer :: footer" class="container">Footer</div>
</body>

</html>